/** Navbar **/
.title-area {
    height: 95px;
}
.top-bar {
    background: #fff !important;
    color: #000 !important;
}

.top-bar-section {
    margin-top:10px;
}

.top-bar-section li.divider {
    background: none;
    border: none;
}

.top-bar-section li a:not(.button) {
    background: #fff !important;
    color: #000 !important;
}

.top-bar-section li a:not(.button):hover {
    background: #809844 !important;
    color: #fff !important;
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

a.menu-icon span {
    color: #000;
}

.top-bar-section .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; }

/** Full Width **/
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

/** Black Bar **/
.blackBarBackground {
    background: #000;
}

/** Blue Bar **/
.blueBarBackground, .orbit-bullets-container {
    background: #5bc0de;
}
ol.orbit-bullets {
    margin-top: -10px;
    height: 35px;
}

h4,
h5 {
    background: #5bc0de;
    color: #fff;
    padding:4px;
}

/** Footer **/
.footerBackground {
    padding-top:15px;
    min-height:150px;
    background-image: url('/beta/templates/main/img/green_grass_xsm.jpg');
}
.footerBackground a {
    text-decoration: none;
}
.footerBackground a:hover {
    color:#fff;
}
.greenBarBackground {
    margin-top:20px;
    background: #809844;
    height: 4px;
}

/** Team **/
.teamMember {
    background-color: #5bc0de;
    color: #000;
    font-weight:bold;
    padding:10px;
    margin-bottom:10px;
}

.footerText {
    background: #6c7732;
    color: #fff;
    font-weight: bold;
    padding:1px;
}