h1 {
    padding-left: 15px;
}

/** Navbar **/
.title-area {
    /*height: 95px;*/
}
.top-bar {
    background: #fff !important;
    color: #000 !important;
    min-height: 75px;
}

.top-bar-section {
    /*margin-top:10px;*/
}

.top-bar-section li.divider {
    background: none;
    border: none;
}

.top-bar-section li a:not(.button) {
    background: #fff !important;
    color: #000 !important;
}

.top-bar-section li a:not(.button):hover {
    background: #809844 !important;
    color: #fff !important;
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

a.menu-icon span {
    color: #000;
}

.top-bar-section .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; }

/** Off canvas **/

ul.off-canvas-list li label {
    background: #fff !important;
}
.left-off-canvas-menu {
    background: #fff !important;
}
ul.off-canvas-list li {
    background: #fff;
}
ul.off-canvas-list li img {
    padding-left: 10px;
    padding-top: 5px;
}
ul.off-canvas-list li a:hover {
    background: #809844;
    color: #fff;
}
ul.off-canvas-list li a {
    color: #000;
}
ul.off-canvas-list li ul li {
    list-style: none;
}

.tab-bar {
    background: #fff;
}
.middle .tab-bar-section {
    background: #fff;
}
.tab-bar .menu-icon span {
    position: absolute;
    display: block;
    height: 0;
    width: 1rem;
    line-height: 1;
    top: 0.9375rem;
    left: 0.90625rem;
    box-shadow: 0 0px 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000 !important; }
.tab-bar .menu-icon:hover span {
    box-shadow: 0 0px 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000; }

/** Full Width **/
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

/** Black Bar **/
.blackBarBackground {
    background: #000;
}

/** Blue Bar **/
.blueBarBackground, .orbit-bullets-container {
    background: #5bc0de;
}
ol.orbit-bullets {
    margin-top: -10px;
    height: 35px;
}

h4,
h5 {
    background: #5bc0de;
    color: #fff;
    padding:4px;
}

tr.tableDescription {
    background: #5bc0de;
}
tr.tableDescription th {
    color: #fff;
    font-size: 18px;
    font-weight:normal;
}
table tr:nth-of-type(even) {
    background: #D9F0F7;
}

/** Footer **/
.footerBackground {
    padding-top:15px;
    min-height:150px;
    background-image: url('/templates/main/img/license/fence.jpg');
    z-index:14000;
}
.footerBackground a {
    text-decoration: none;
}
.footerBackground a:hover {
    color:#fff;
}
.greenBarBackground {
    margin-top:20px;
    background: #809844;
    height: 4px;
}
.footerTopBorder {
    margin-top:20px;
    background: #805639;
    height: 4px;
}

/** Team **/
.teamMember {
    background-color: #5bc0de;
    color: #000;
    font-weight:bold;
    padding:10px;
    margin-bottom:10px;
}

.footerText {
    color: #000;
    font-weight: bold;
    padding:1px;
}

/** Fence **/
.behindTheFence {
    background-image: url('/templates/main/img/license/dogs_over.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15000;
}